@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';
//TODO цвета вынести в переменную
.sign-in-form {
  @include secondary-font-face;
  background-color: $background-color-base;
  width: 384px;
  padding: 48px 32px;
  margin-inline: auto;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.02),
    0 1px 7px 0 rgba(0, 0, 0, 0.03),
    0 3px 13px 0 rgba(0, 0, 0, 0.04),
    0 5px 24px 0 rgba(0, 0, 0, 0.04),
    0 9px 44px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-block: 0;
  margin-bottom: 21px;
}

.form-items-group {
  margin-block: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-item-label {
  font-size: 14px;
  line-height: 157%;
  color: #262626;
}

.form-item-input {
  // width: 320px;
  height: 40px;
  padding-inline: 12px;
  border-radius: 5px;
  border-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
  &::placeholder {
    font-size: 16px;
    color: #bfbfbf;
  }
  &.invalid {
    border-color: $error-color;
  }
}

.form-item-textarea {
  height: 168px;
  padding: 12px;
  border-radius: 5px;
  border-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
  resize: none;
}

.form-submit {
  border: none;
  background-color: $primary-color;
  height: 40px;
  color: $background-color-base;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.form-login-message {
  font-size: 12px;
  line-height: 167%;
  color: #8c8c8c;
  align-self: center;
}

.form-login-message-link {
  text-decoration: none;
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
}

.divider {
  height: 1px;
  background-color: #bfbfbf;
  margin-bottom: 8px;
  margin-top: 21px;
}

.data-processing-checkbox-wrapper {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 157%;
  color: #595959;
  margin-bottom: 21px;
  &.invalid {
    text-decoration: underline;
    color: $error-color;
  }
}

.data-processing-checkbox {
  width: 16px;
  margin-right: 8px;
  align-self: flex-start;
  margin-top: 3px;
}

.data-processing-input {
  position: absolute;
  appearance: none;
  &:checked + .data-processing-decore {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='1.5' fill='%231890FF' stroke='%231890FF'/%3E%3Cpath d='M3.91308 7.03516H3.91326C3.99256 7.03525 4.07081 7.05331 4.14213 7.08798C4.21341 7.12262 4.27591 7.17295 4.32497 7.2352L3.91308 7.03516ZM3.91308 7.03516H3.09394C2.89031 7.03516 2.7766 7.26975 2.90232 7.4292L2.90237 7.42927L6.11214 11.4957L6.11218 11.4957C6.32247 11.7619 6.72568 11.7611 6.93667 11.4962L6.93708 11.4957L12.6597 4.24398C12.6598 4.24378 12.66 4.24358 12.6602 4.24338C12.7884 4.08295 12.6699 3.85 12.4689 3.85H11.6498C11.4894 3.85 11.3367 3.9235 11.2376 4.05044C11.2375 4.05055 11.2374 4.05066 11.2373 4.05077L6.52403 10.0216M3.91308 7.03516L6.52403 10.0216M6.52403 10.0216L4.32506 7.23531L6.52403 10.0216Z' fill='white' stroke='white' stroke-width='0.3'/%3E%3C/svg%3E%0A");
  }
}

.data-processing-decore {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' version='1.1' id='svg48' sodipodi:docname='default_unchecked.svg' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs52' /%3E%3Csodipodi:namedview id='namedview50' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' showgrid='false' inkscape:zoom='26.15625' inkscape:cx='-2.8100358' inkscape:cy='8.0477897' inkscape:window-width='1920' inkscape:window-height='1018' inkscape:window-x='0' inkscape:window-y='0' inkscape:window-maximized='1' inkscape:current-layer='svg48' /%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='1.5' fill='%231890FF' stroke='%231890FF' id='rect44' /%3E%3Crect style='fill:%23ffffff;fill-opacity:1;stroke:none;stroke-width:1.2248;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill' id='rect666' width='14.845762' height='14.79166' x='0.57771301' y='0.52837217' rx='1.7395459' ry='1.7847537' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.validate-error {
  margin-block: 0;
  color: $error-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  max-width: 320px;
}
