$background-color-base: #fff;
$background-color: #ebeef3;
$heading-text-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$success-color: #52c41a;
$primary-color: #1890ff;
