@import '../../styles/variables.scss';
.header {
  height: 80px;
  background-color: $background-color-base;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 22px;
  color: $heading-text-color;
  font-size: 18px;
}

.home-link {
  text-decoration: none;
  &:visited {
    color: $heading-text-color;
  }
}
